* {
    font-family: '微软雅黑';
    font-size: 14px;
    padding: 0;
    margin: 0;
}
body {
    background: #f4f4f4;
    font-family: '微软雅黑';
}
input {
    background: none;
    outline: none;
    border: none;
}
.applyFormLeft {
    float: left;
    width: 50%;
}
.applyFormRight {
    float: left;
    width: 50%;
}
.applyTitle {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    display: block;
    height: 22px;
    margin: 20px 0;
}
.formItem {
    width: 394px;
    height: 32px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}
.formLabel {
    float: left;
    width: 114px;
    text-align: right;
    line-height: 32px;
}
.formCert {
    float: left;
}
.formInput {
    float: left;
    width: 260px;
    border: 1px solid #e5e5e5;
    margin-left: 0px;
    height: 32px;
}
.inputW {
    width: 60px;
    border: 1px solid #eeeeee;
}
.inputW:nth-of-type(3) {
    width: 24px;
}
.formGroupInput {
    width: 176px;
    border-right: 0;
}
.formInputLabel {
    float: left;
    width: 84px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    padding-left: 1px;
    color: #cd210f;
    cursor: pointer;
}
.stampType {
    width: 64px;
}

input[type='radio'] {
    background: white;
    outline: none;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 10px 20px;
    text-indent: 10px;
}
input[type='radio'] + label {
    position: relative;
    padding-left: 35px;
}
input[type='radio'] + label::before {
    content: '\a0'; /*不换行空格*/
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 3px;
    /* vertical-align: middle; */
    margin-left: 15px;
    font-size: 14px;
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    border-radius: 50%;
    /* border: 2px solid #f07464; */
    background: url('../../settingIcon/noselected.png');
    background-size: 100% 100%;
    text-indent: 0.15em;
    line-height: 1;
}

input[type='radio']:checked + label::before {
    background: url('../../settingIcon/selected.png') no-repeat;
    background-size: 100% 100%;
    /* background-clip: content-box;
    background: url(../images/select.png)no-repeat center  #f07464; */
}

input[type='radio'] {
    position: absolute;

    clip: rect(0, 0, 0, 0);
}
.stampModelDetail {
    margin-bottom: 20px;
}
.stampModelUploadBtn {
    width: 80px;
    height: 24px;
    border: 1px solid #eeeeee;
    background: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: #666666;
    line-height: 24px;
    outline: none;
}
.stampView {
    height: 352px;
}
.stampBox img {
    max-width: 300px;
    max-height: 300px;
}
.applyPage {
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 40px;
}
.form_title {
    font-size: 14px;
    color: #333333;
    text-align: left;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 14px;
}
.applyBtnBox {
    height: 110px;
    background: #ffffff;
    text-align: center;
}
.applyBtn {
    width: 133px;
    height: 36px;
    color: #ffffff;
    border: none;
    background: #cd210f;
    margin-top: 40px;
}
/* 步骤条 */
.applyStepBox {
    width: 100%;
    height: 36px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.applyStep {
    width: 800px;
    margin: 0 auto;
}
.circleSmall {
    width: 28px;
    height: 28px;
    background: #cd210f;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    color: #ffffff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.circleBig {
    width: 36px;
    height: 36px;
    background: #f0f0f0;
    border-radius: 50%;
    display: block;
    position: relative;
}
.step1 .circleBig::before {
    position: absolute;
    content: '填写材料';
    width: 56px;
    height: 20px;
    line-height: 20px;
    top: 36px;
    left: -10px;
}
.step2 .circleBig::before {
    position: absolute;
    content: '审核中';
    width: 42px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    top: 36px;
    left: -3px;
}
.step3 .circleBig::before {
    position: absolute;
    content: '制章';
    width: 28px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    top: 36px;
    left: 4px;
}
.circleBefore::before{
    color: #ffffff;
}
.step {
    width: 370px;
    height: 36px;
    display: inline-block;
    position: relative;
}
.step3 {
    width: 36px;
}
.stepLine {
    position: absolute;
    width: 171px;
    height: 6px;
    background: #f0f0f0;
    z-index: 999;
    top: 15px;
}
.step1line {
    left: 32px;
    background: #cd210f;
}

.step2lineLeft {
    left: -171px;
    width: 175px;
}
.step2lineRight {
    left: 32px;
}
.step3line {
    left: -171px;
    width: 175px;
}
.stampBox {
    width: 300px;
    height: 300px;
    border: 1px solid #d5d5d5;
    margin: 18px auto 36px auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* 选择密钥盘modal */
.keyModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.keyModalContent {
    width: 400px;
    /* height: 200px; */
    background: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
}
.keyModalBody {
    padding: 10px;
}
.keyModalTitle {
    height: 40px;
    position: relative;
    line-height: 40px;
    border-bottom: 1px solid #f4f4f4;
}
.close {
    position: absolute;
    width: 20px;
    height: 20px;
    /* top: 10px; */
    right: 10px;
    cursor: pointer;
}
.keyModalFooter {
    height: 60px;
    text-align: right;
}
.primary-btn {
    width: 80px;
    height: 36px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background: #cd210f;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.cancel-btn {
    width: 80px;
    height: 36px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background: #cd210f;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
}
/* 选择单位 */
.cascader-dropdown {
    position: absolute;
    top: 36px;
    left: 115px;
    z-index: 99;
    margin: 5px 0;
    font-size: 14px;
    width: 1000px;
}
/* .cascader-panel {
    position: absolute;
    top: 36px;
    left: 115px;
    z-index: 99;
    margin: 5px 0;
    font-size: 14px;
    background: white;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0;
} */

.cascader-menu {
    min-width: 180px;
    height: 204px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 0.1);
    overflow: auto;
    /* display: inline-block; */
    float: left;
}
.cascader-menu ul li {
    list-style: none;
    padding: 0 30px 0 20px;
    height: 34px;
    line-height: 34px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.cascader-menu ul li::after {
    content: '';
    background: url(../img/right.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}
.certBtn {
    padding: 5px 7px;
    background: #cd210f;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.keyValModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
}
.keyValContent {
    position: fixed;
    width: 274px;
    height: 162px;
    left: 50%;
    top: 50%;
    background: #ffffff;
    margin-left: -137px;
    margin-top: -81px;
    z-index: 99;
}
.keyValContent h1 {
    box-sizing: border-box;
    width: 274px;
    height: 42px;
    line-height: 42px;
    padding: 0 80px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333333;
    background: #f8f8f8;
}
.keyValClose {
    position: absolute;
    top: 0;
    right: -20px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    font-size: 14px;
}
.keyVal {
    display: block;
    width: 230px;
    height: 36px;
    margin: 20px auto;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    color: #333;
}
.keyBtn {
    text-align: right;
    padding-right: 16px;
}
.keyBtn button {
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    border: 1px solid #dedede;
    border-radius: 2px;
    /* color: #333333; */
    outline: none;
    font-size: 14px;
    cursor: pointer;
}
.keyBtnSub {
    background: #1e9fff;
    color: #ffffff;
}
.keyBtnCancel {
    background: #ffffff;
}
.keyValModal {
    display: none;
}
.certItem {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
}
/* .certLabel {
    min-height: 120px;
} */

/* 审核中 */
.verify {
    width: 100%;

    text-align: center;
}
.verify h3 {
    font-size: 14px;
    color: #252525;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
}
.verify p {
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.35px;
}
.verify p:nth-of-type(1) {
    margin-bottom: 10px;
}
.verify .previewBtnGroup {
    margin-top: 70px;
}
.verify a {
    display: block;
    background: #cd210f;
    font-size: 14px;
    width: 133px;
    height: 36px;
    color: #ffffff;

    border: none;
    outline: none;
    cursor: pointer;
    line-height: 36px;
    margin: 0 auto;
    text-decoration: none;
    /* border-radius: 4px; */
}
.verify-img {
    width: 100%;
    height: 147px;
    margin-top: 75px;
    margin-bottom: 39px;
}
.verifyImg {
    background: url(../img/verifyImg.png) no-repeat;
    width: 103px;
    height: 147px;
    background-size: 100% 100%;
    margin: 0 auto;
}
.step3Page {
    width: 852px;
    margin: 0 auto;
}
.step3PageLeft {
    width: 50%;
    float: left;
    margin-top: 58px;
}
.step3PageRight {
    width: 50%;
    float: left;
    margin-top: 58px;
}
.step3PageRightTitle,
.step3PageLeftTitle {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.step3Row {
    line-height: 20px;
    margin: 13px 0;
    font-size: 14px;
}
.makeSealGroup {
    width: 100%;
    text-align: center;
}
.makeSealBtn {
    width: 133px;
    height: 36px;
    color: #ffffff;
    line-height: 36px;
    background: #cd210f;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 99px;
}
