* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    background: #f4f4f4;
    font-family: '微软雅黑';
}
#stampDetailContent {
    margin: 0 auto;
    margin-top: 40px;
}
.form_content{
    margin-bottom: 30px;
    border-radius: 5px;
    margin: 40px;
    padding: 0 20px;
    box-sizing: content-box;
    background: #ffffff;
}
.stampMsg {
    height: 514px;
    
    
}
.makeSealPerson {
    height: 220px;
    
}
.signaturePerson {
    height: 220px;
    
    
}
.form_title {
    font-size: 16px;
    color: #333333;
    text-align: left;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 14px;
    font-weight: bold;
    font-family: '微软雅黑';
}
.form_item {
    line-height: 40px;
    font-size: 14px;
}
.form_label {
    display: inline-block;
    width: 110px;
    text-align: right;
}
.form_text {
    display: inline-block;
    text-align: left;
}
.backStampManage {
    text-align: center;
    margin-bottom: 30px;
}
.back {
    background: #cd210f;
    border: none;
    border-radius: 2px;
    border-radius: 2px;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    outline: none;
}
.form_content {
    position: relative;
}
.form_image {
    position: absolute;
    top: 96px;
    right: 47px;
    text-align: center;
}
.back a {
    display: block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    text-decoration: none;
}
.certViewBtn {
    float: right;
    width: 85px;
    height: 33px;
    border: 1px solid #cd210f;
    color: #cd210f;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}
