* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #f4f4f4;
  font-family: '微软雅黑';
}

.stampManageBox {
  margin: 0.4rem;
  background: #ffffff;
}

.stampTabs {
  height: 0.5rem;
  margin-left: 0.2rem;
  border-bottom: 0.01rem solid #e5e5e5;
}

.stampTabs .active {
  color: #cd210f;
}

.stampTabs .active::after {
  content: '';
  width: 60%;
  height: 0.01rem;
  display: block;
  margin: 0 auto;
  border-bottom: 0.02rem solid #cd210f;
}

.stampTab {
  list-style: none;
  font-size: 0.14rem;
  float: left;
  line-height: 0.5rem;
  margin: 0 0.28rem;
  color: #3a3a3a;
  cursor: pointer;
}

.sealItem {
  float: left;
  box-shadow: 0 0 0.04rem 0 rgba(0, 0, 0, 0.16);
  border-radius: 0.05rem;
  border-radius: 0.05rem;
  margin-top: 0.3rem;
  height: 3rem;
  text-align: center;
  position: relative;
}

.sealImgBox {
  height: 1.65rem;
  text-align: center;
  margin-bottom: 0.1rem;
}

.sealImg {
  max-width: 1.45rem;
  max-height: 1.45rem;
}

.sealText {
  display: block;
  text-align: center;
  margin-top: 0.15rem;
}

.stampManageContent {
  margin: 0 auto;
  overflow: auto;
  padding: 0 0.01rem;
  display: flex;
}

.stampDelBtn {
  width: 1rem;
  height: 0.36rem;
  text-align: center;
  border: 0.01rem solid #cd210f;
  background: #ffffff;
  color: #cd210f;
  margin-right: 0.2rem;
  font-size: 0.14rem;
  cursor: pointer;
  border-radius: 0.02rem;
  outline: none;
}

.stampDetailBtn {
  border: 0.01rem solid #cd210f;
  width: 1rem;
  height: 0.36rem;
  text-align: center;
  color: #fff;
  background: #cd210f;
  font-size: 0.14rem;
  cursor: pointer;
  border-radius: 0.02rem;
  outline: none;
}

.stampDetailBtn a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 0.36rem;
  line-height: 0.36rem;
}

.sealText {
  margin: 0 auto;
  text-align: left;
  line-height: 0.29rem;
  font-size: 0.14rem;
  color: #333333;
}

.keyValModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.keyValContent {
  position: fixed;
  width: 2.74rem;
  height: 1.62rem;
  left: 50%;
  top: 50%;
  background: #ffffff;
  margin-left: -1.37rem;
  margin-top: -0.81rem;
  z-index: 99;
}

.keyValContent h1 {
  box-sizing: border-box;
  width: 2.74rem;
  height: 0.42rem;
  line-height: 0.42rem;
  padding: 0 0.8rem 0 0.2rem;
  border-bottom: 0.01rem solid #eee;
  font-size: 0.14rem;
  color: #333333;
  background: #f8f8f8;
}

.keyValClose {
  position: absolute;
  top: 0;
  right: -0.2rem;
  width: 0.42rem;
  height: 0.42rem;
  line-height: 0.42rem;
  cursor: pointer;
  font-size: 0.18rem;
}

.keyVal {
  display: block;
  width: 2.3rem;
  height: 0.36rem;
  margin: 0.2rem auto;
  line-height: 0.3rem;
  padding-left: 0.1rem;
  border: 0.01rem solid #e6e6e6;
  color: #333;
}

.keyBtn {
  text-align: right;
  padding-right: 0.16rem;
}

.keyBtn button {
  box-sizing: border-box;
  height: 0.28rem;
  line-height: 0.28rem;
  padding: 0 0.15rem;
  border: 0.01rem solid #dedede;
  border-radius: 0.02rem;
  /* color: #333333; */
  outline: none;
  font-size: 0.14rem;
  cursor: pointer;
}

.keyBtnSub {
  background: #1e9fff;
  color: #ffffff;
}

.keyBtnCancel {
  background: #ffffff;
}

.keyValModal {
  display: none;
}

/* 新版本印章管理 */

.stampManageLeft {
  position: relative;
  min-height: 6.88rem;
  width: 3rem;
  background: #ffffff;
  margin: 0.4rem 0.3rem 0.4rem 0.4rem;
  float: left;
}

.stampManageRight {
  margin: 0.4rem 0.4rem 0.4rem 0;
  background: #ffffff;
  min-height: 6.88rem;
  float: left;
}

.keyTitle {
  width: 100%;
  margin-bottom: 0.12rem;
}

.keyMsgTitle {
  margin-bottom: 0.1rem;
}

.homeH2 {
  position: relative;
  display: block;
  font-size: 0.14rem;
  width: 2.6rem;
  margin: 0 auto;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  padding: 0.15rem 0;
  border-radius: 0.05rem;
  border-bottom: 0.01rem solid #eeeeee;
}

.homeH2::before {
  content: '';
  display: block;
  width: 0.02rem;
  height: 0.2rem;
  background: #cd210f;
  float: left;
  margin-right: 0.1rem;
}

.half {
  display: inline-block;
  width: 50%;
  line-height: 0.32rem;
  font-size: 0.14rem;
}

.half:nth-child(odd) {
  text-indent: 0.15rem;
}

.sealName {
  height: 0.4rem;
  text-indent: 0.2rem;
  margin-bottom: 0.15rem;
  font-size: 0.14rem;
  color: #333333;
  line-height: 0.4rem;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
  /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

.keyContentRight {
  font-size: 0.14rem;
  color: #333333;
  line-height: 0.18rem;
}

.keyContentRight {
  margin-left: 0.14rem;
}

.keyContentRight img {
  width: 0.1rem;
  height: 0.18rem;
  margin-top: 0;
  float: left;
  margin-right: 0.1rem;
}

.keyContentDivContainer {
  height: 0.37rem;
}

.refBtn {
  position: absolute;
  width: 2.6rem;
  height: 0.33rem;
  border: 0.01rem solid #cd210f;
  border-radius: 0.05rem;
  border-radius: 0.05rem;
  bottom: 0.2rem;
  left: 50%;
  margin-left: -1.3rem;
  color: #cd210f;
  background: #ffffff;
  outline: none;
  cursor: pointer;
}

.floatPng1 {
  width: 1.25rem;
  height: 1.21rem;
  position: absolute;
  right: -0.25rem;
  top: -0.3rem;
  background-size: 100% 100%;
  background: url(../img/examineSuccess.png);
}

.floatPng2 {
  width: 1.25rem;
  height: 1.21rem;
  position: absolute;
  right: -0.25rem;
  top: -0.3rem;
  background-size: 100% 100%;
  background: url(../img/examineWarning.png);
}

.floatPng3 {
  width: 1.25rem;
  height: 1.21rem;
  position: absolute;
  right: -0.25rem;
  top: -0.3rem;
  background-size: 100% 100%;
  background: url(../img/examineSuccess.png);
}

.floatPng4 {
  width: 1.25rem;
  height: 1.21rem;
  position: absolute;
  right: -0.25rem;
  top: -0.3rem;
  background-size: 100% 100%;
  background: url(../img/examineWarning.png);
}